	Edycja użytkownika id: ::id::<br>
<form action="?page=contacts&action=edit&action_param=::id::" method="POST">
	Wlasciciel: <input type="text" name="owner" value="::owner::"><br>
	Telefon: <input type="text" name="number" value="::number::"><br>
	<input type="Submit" value="Zmien dane">
</form>