	Dodawanie nowego kontaktu<br>
<form action="?page=contacts&action=add" method="POST">
	Wlasciciel: <input type="text" name="owner"><br>
	Telefon: <input type="text" name="number"><br>
	<input type="Submit" value="Dodaj kontakt">
</form>