	Edycja użytkownika id: ::id::<br>
<form action="?page=users&action=edit&action_param=::id::" method="POST">
	Hasło: <input type="password" name="pass1"><br>
	Powtórz Hasło: <input type="password" name="pass2"><br>
	<input type="Submit" value="Zmien dane">
</form>