	Dodawanie nowego uzytkownika<br>
<form action="?page=users&action=add" method="POST">
	Login: <input type="text" name="login"><br>
	Hasło: <input type="password" name="pass1"><br>
	Powtórz Hasło: <input type="password" name="pass2"><br>
	<input type="Submit" value="Dodaj uzytkownika">
</form>